* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* color: #fff; */
  background-color: pink;
  overflow-x: hidden;
}

.page4 {
  height: 100%;
  width: 100%;
  /* background-color: rgb(102, 255, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  top: calc(10vh);
  height: 100vh;
  width: 100%;
}

.page5 {
  position: sticky;

  /* position: absolute; */
  /* height: 100vh; */
  /* width: 100%; */
  color: #fff;
  /* background: red; */

  /* justify-content: center; */
}

.content {
  display: flex;
  align-items: center;
  /* gap: 2vw; */
  /* background-color: blue; */
}

.left {
  position: relative;
  align-items: center;
  left: 6%;
  width: 40%;
  height: 40vh;
  top: 2%;
  display: flex;
  gap: 11%;
  /* background-color: blue; */
}

.right {
  position: relative;

  /* align-items: center; */
  margin-left: 6%;
  /* left: 6%; */
  width: 40vw;
  height: 40vh;
  /* top: 2%; */
  /* display: flex; */
  /* gap: 11%; */
  /* background-color: yellow; */
}

.p1 {
  margin-top: 7px;
  /* color: #202020; */
  font-size: 15px;
  font-weight: 300;
}

.page5 .pass {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.section1 {
  background-color: #000;
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.part1 {
  /* position: relative; */
  background-color: #1a1a1a;
  width: 0.5%;
  height: 100%;
}

.part1 .slider {
  height: 50%;
  background-color: #fff;
}

.section1 .heading {
  height: 110vh;
  color: #fff;
  /* background-color: red; */
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section1 .heading h1 {
  top: calc(50vh - 70px); 
  position: relative;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-size: 34px;
}

.section1 .text {
  position: relative;
  top: calc(50vh - 30px); /* assuming heading height is 100px */
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-size: 34px;
}

.left2 {
  margin-top: 55px;
  color: #222;
}

.page6 {
  height: 100%;
  width: 100%;
  /* background-color: rgb(102, 255, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.page7 {
  height: 100%;
  width: 100%;
  /* background-color: rgb(102, 255, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

.right .vid1 {
  position: absolute;
  /* color: #fff; */
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  margin: auto;
}

.vid1 video {
  min-height: 100%;
  width: auto;
  height: 100%;
  display: block;
  /* visibility: hidden; */
}

.right .vid2 {
  /* justify-self: center; */
  position: absolute;
  /* color: #fff; */
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  transform: translateY(170%);
  opacity: 0%;
  right: -3vw;
  margin: auto;
}

.vid2 video {
  min-height: 100%;
  width: auto;
  height: 100%;
  display: block;
  /* visibility: hidden; */
}
